<hr style='max-width: 100%; margin-left:0;'>
<br />
<div class='ui container grid'>
    <div class='eight wide column' style="margin-left: 0 !important;padding-left: 0 !important;">
        <h4>{{facet.name}}</h4>
    </div>
    <div class='eight wide column'>
        <div class='ui top right attached label' style='background-color: whitesmoke'>
            <i
                class='chevron icon' [ngClass]= "{'up': facetOpen == 'in', 'down': facetOpen=='out'}"
                (click)='toggleAccordion()'
                style='color:grey'>
            </i>
        </div>
    </div>
</div>
<div [@accordion]='facetOpen'>
    <table class='ui very basic table' [@accordion2]='facetOpen'>
        <tbody>
        <tr *ngFor='let tag of facet.tags'>
            <td style="width: 35px !important">
                <mat-checkbox (click)='tagSelect(tag.name)'></mat-checkbox>
                <!--<input type='checkbox' (click)='tagSelect(tag.name)'>-->
            </td>
            <td style='color:grey'>{{tag.name}} &nbsp;( {{tag.count}} )</td>
        </tr>
        </tbody>
    </table>
</div>
<br />